/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

html, body {
  min-height: 100%;
  margin: 0;
  background-color: #020617;
  color: #f8fafc;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
